body {
  margin: 0;
  background: radial-gradient(ellipse at center, #0a2e38 0%, #000 35%);
}

#clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#clock-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#date {
  font-family: monospace;
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1rem;
  text-shadow: 0 0 10px rgba(10, 175, 230, 0.8);

   @media (max-width: 600px) {
          font-size: 1.2rem;
          margin-bottom: 0.5rem;
        }
}

#clock {
  font-family: monospace;
  font-size: 6.5rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);

    @media (max-width: 600px) {
          font-size: 3.5rem;
        }
}

#format-buttons {
  margin-top: 1.5rem;

  @media (max-width: 600px) {
          flex-direction: column;
          gap: 0.5rem;
          margin-top: 1rem;
        }
}

#format-buttons button {
  font-family: monospace;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  background-color: #0aaee6;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(10, 175, 230, 0.8);
  transition: background 0.3s ease;
}

#format-buttons button:hover {
  background-color: #088ab5;
}

