body {
  margin: 0;
  background: radial-gradient(ellipse at center, #0a2e38 0%, #000 35%);
}

#clock-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

#clock {
  font-family: monospace;
  font-size: 6.5rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);

    @media (max-width: 600px) {
          font-size: 3.5rem;
        }
}


#date {
  font-family: monospace;
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1rem;
  text-shadow: 0 0 10px rgba(10, 175, 230, 0.8);
}

